<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zero-question-list</title>
    <script src="__PUBLIC__/static/lib/jquery-3.1.4.js"></script>
    <link href="__PUBLIC__/static/styles/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/static/lib/bootstrap.min.js"></script>
    <link href="__PUBLIC__/static/styles/main.less" rel="stylesheet/less">
    <script src="__PUBLIC__/static/lib/less-3.9.0.min.js"></script>
</head>

<body>
    <!-- 这是一个来自于 bootstrap 的导航栏代码 -->
    <nav class="navbar navbar-default" id="my-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">问题列表页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="nick-name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">

                            <span class="caret"></span>
                        </a>
                        <!-- 导航栏的下拉菜单 -->
                        <ul class="dropdown-menu">
                            <li><a id="logout-btn" href="#">登出</a></li>
                        </ul>
                        <!-- 导航栏的下拉菜单 [完]-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 这是一个来自于 bootstrap 的导航栏代码 [完]-->

    <main>

        <!-- 提交问题的表单 -->
        
        <form id="submit-question-form" class="form-inline">
            <div class="form-group">
                <input id="question-input" class="form-control" name="question" placeholder="请输入你要提交的问题">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        <div class="anonymous-checkbox">
            <input id="is-anonymous" type="checkbox"><label>匿名发送</label>
        </div>
        <p class="bg-danger" id="error-text"></p>

        <!-- 提交问题的表单 [完]-->

        <!-- 问题列表 -->
        <h1>问题列表</h1>

        <div id="question-list">
        </div>

        <!-- 问题列表 [完] -->

        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination">
               
            </ul>
        </nav>
    </main>
    <script>

        // 分页的当前页
        var currentPage = 1;

        // 提交一个新问题的逻辑
    $("#submit-question-form").submit(function(e) {
        e.preventDefault();
        $("#error-text").html("");
        if($("#question-input").val().trim()===""){
            $("#error-text").html("提交的问题不能为空");
            return;
        }
        $.ajax({
            url:  "__PUBLIC__/index/question/createQuestion",
            type: "post",
            data: {
                question:$("#question-input").val(),
                isAnonymous:$("#is-anonymous").is(":checked")
            },
            success: function(response) {
                response = JSON.parse(response);
                if(response.code!=="0000"){
                    $("#error-text").html(response.msg);
                    return;
                }
                var question = response.data;
                // renderQuestionList(response.data);
                // $("#question-list").append('\
                // <div class="question-item">\
                //     <p class="content">'+question.content+'</p>\
                //     <p class="time">'+question.time+" by "+question.userName+'</p>\
                //     <button type="button" class="close close-btn" aria-label="Close" data-id="'+question.id+'"><span aria-hidden="true">&times;</span></button>\
                // </div>\
                // ');
                getQuestionList(currentPage);
                $("#question-input").val("");
                bindCloseBtnEvent(true);
            },
            error:function(){
                $("#error-text").html("好像我与服务器分手了TAT");
            }
        });
    });

    // 给删除按钮绑定事件
    function bindCloseBtnEvent(onlyLast) {
        onlyLast = onlyLast===undefined?false:onlyLast;
        $closeBtn = $(".close-btn");
        if(onlyLast){
            $closeBtn = $closeBtn.last();
        }
        $closeBtn.click(function() {
            console.log("hello");
            $("#error-text").html("");
            var id = $(this).data("id");
            var $questionList = $(this).parent();
            // 删除问题的逻辑
            $.ajax({
                url: "api/questionHandler/deleteQuestion",
                type: "post",
                data: {
                    id: id
                },
                success: function(response) {
                    response = JSON.parse(response);
                    if(response.code!=="0000"){
                        $("#error-text").html(response.msg);
                        return;
                    }
                    // renderQuestionList(response.data);
                    getQuestionList(currentPage);
                    $questionList.remove();
                }
            });
        });
    }
    bindCloseBtnEvent();


    //返回的格式
    // var a ={
    //     "code":"0001",
    //     "msg":"获取问题列表成功",
    //     "data":[
    //         {question:"asddas",time:"asdasdas"}
    //     ]
    // }

    // 登出的逻辑
    $("#logout-btn").click(function(){
        $.ajax({
            url: "__PUBLIC__/index/user/logout",
            type: "post",
            success: function(data) {
                location.href= "__PUBLIC__/login";
            }
        });
    });

    function getQuestionList(page){
        page = page === undefined?1:page;
        $.ajax({
            url: "__PUBLIC__/index/question/getAllQuestions",
            type: "get",
            data:{
                page:page
            },
            success: function(response) {
                response = JSON.parse(response);
                if(response.code!=="0000"){
                    $("#error-text").html(response.msg);
                    return;
                }
                renderQuestionList(response.data.questions);
                generatePaginationBtn(page,response.data.pageCount);
            },
            error:function(){
                $("#error-text").html("好像我与服务器分手了TAT");
            }
        });
    }

    function renderQuestionList(data){
        $("#question-list").html("");
        for(var index in data){
            var question = data[index];
            
            $("#question-list").append('\
            <div class="question-item">\
                <p class="content">'+question.question+'</p>\
                <p class="time">'+question.time+" by "+question.userName+'</p>\
                <button type="button" class="close close-btn" aria-label="Close" data-id="'+question.id+'"><span aria-hidden="true">&times;</span></button>\
            </div>\
            ');
        }
        bindCloseBtnEvent();
    }

    // 页面加载完成的时候请求问题列表
    $(window).on("load",function(){
        
        $.ajax({
            url: "__PUBLIC__/index/user/get_nick_name",
            type: "get",
            success: function(response) {
                // 验证一下这个用户到底登录了没有
                response = JSON.parse(response);
                if(response.code!=="0000"){
                    location.href = "__PUBLIC__/login";
                    return;
                }
                $("#nick-name").html(response.data+'<span class="caret"></span>');
                currentPageRegex = /(page)=(\w+)/.exec(location.search);
                if(!currentPageRegex){
                    currentPage = 1;
                }else{
                    currentPage = Number(currentPageRegex[2]);
                }
                getQuestionList(currentPage);
            }
        });

    });
    // $(window).load(function(){
        
    // });

    // 前后端的数据交互
    // 前后端分离
    // form表单提交 后端echo返回数据   - level 0
    // 利用js的ajax提交 后端echo html  - level 1
    // 前端页面完全无php标签，后端还是echo html - level 2
    // 前端页面完全无php标签，后端完全没有 html 标签 - level 3

        /**
         * 生成分页器上面的数字按钮数组
         * @param currentPage 当前页面。这个数字必须大于等于1
         * @param pageCount 总共有多少个页面
         * @param paginationBtnCount 总共需要多少个分页按钮，默认是5个
         * @returns {Array|*[]} 返回数字按钮的数组
         */
        function generatePaginationNum(currentPage,pageCount,paginationBtnCount){
            paginationBtnCount= paginationBtnCount === undefined ? 5 : paginationBtnCount;

            var result = [];

            if(paginationBtnCount>=pageCount){
                for(var i=0;i<pageCount;i++){
                    result.push(i+1);
                }
                return result;
            }

            // 1. 先生成一个初始数组

            // 当前页之前有多少个按钮
            var btnCountBefore = Math.floor((paginationBtnCount-1)/2);

            // 当前页之后有多少个按钮
            var btnCountAfter = Math.ceil((paginationBtnCount-1)/2);

            for(var i=currentPage-btnCountBefore;i<currentPage;i++){
                result.push(i);
            }
            result.push(currentPage);
            for(var i=currentPage+1;i<=currentPage+btnCountAfter;i++){
                result.push(i);
            }

            // 2. 向后滑动窗口
            if(result[0]<1){
                var offset = 1-result[0];
                for(var i=0;i<paginationBtnCount;i++){
                    result[i]+=offset;
                }
            }
            // 3. 向前滑动窗口
            if(result[paginationBtnCount-1]>pageCount){
                var offset = result[paginationBtnCount-1]-pageCount;
                for(var i=0;i<paginationBtnCount;i++){
                    result[i]-=offset;
                }
            }

            // 4. 切割数量
            result = result.slice(0,pageCount);
            return result;
        }


        function generatePaginationBtn(currentPage,pageCount){
            var paginationNumArr = generatePaginationNum(currentPage,pageCount);

            $("#pagination").html("");
            $("#pagination").append('\
            <li class="pagination-prev-btn">\
                <a href="#" aria-label="Previous">\
                    <span aria-hidden="true">&laquo;</span>\
                </a>\
            </li>');
            for(var i=0;i<paginationNumArr.length;i++){
                $("#pagination").append('\
                <li class="pagination-num-btn" data-page="'+paginationNumArr[i]+'"><a href="#">'+paginationNumArr[i]+'</a></li>\
                ');
            }
            $("#pagination").append('\
            <li class="pagination-next-btn">\
                <a href="#" aria-label="Next">\
                    <span aria-hidden="true">&raquo;</span>\
                </a>\
            </li>');

            $(".pagination-num-btn").click(function(){
                location.href="index?page="+$(this).data("page");
                // window.currentPage = $(this).data("page");
                // getQuestionList(window.currentPage);
            });

            $(".pagination-prev-btn").click(function(){
                if(currentPage!==1){
                    location.href="index?page="+(currentPage-1);

                    // getQuestionList(currentPage-1);
                    // window.currentPage = currentPage-1;
                }
            });

            $(".pagination-next-btn").click(function(){
                if(currentPage!==pageCount){
                    location.href="index?page="+(currentPage+1);

                    // getQuestionList(currentPage+1);
                    // window.currentPage = currentPage+1;
                }
            });

        }
        
    </script>
</body>
</html>