<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>zero-question-list</title>
    <link href="__PUBLIC__/static/styles/bootstrap.min.css" rel="stylesheet">
    <script src="__PUBLIC__/static/lib/bootstrap.min.js"></script>
    <link href="__PUBLIC__/static/styles/main.css" rel="stylesheet">
</head>

<body>
    <!-- 这是一个来自于 bootstrap 的导航栏代码 -->
    <nav class="navbar navbar-default" id="my-nav">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">问题列表页</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" id="nick-name" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">

                            <span class="caret"></span>
                        </a>
                        <!-- 导航栏的下拉菜单 -->
                        <ul class="dropdown-menu">
                            <li><a id="logout-btn" href="#">登出</a></li>
                        </ul>
                        <!-- 导航栏的下拉菜单 [完]-->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 这是一个来自于 bootstrap 的导航栏代码 [完]-->

    <main>

        <!-- 提交问题的表单 -->
        
        <form id="submit-question-form" class="form-inline">
            <div class="form-group">
                <input id="question-input" class="form-control" name="question" placeholder="请输入你要提交的问题">
            </div>
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
        <div class="anonymous-checkbox">
            <input id="is-anonymous" type="checkbox"><label>匿名发送</label>
        </div>
        <p class="bg-danger" id="error-text"></p>

        <!-- 提交问题的表单 [完]-->

        <!-- 问题列表 -->
        <h1>问题列表</h1>

        <div id="question-list">
        </div>

        <!-- 问题列表 [完] -->

        <nav aria-label="Page navigation">
            <ul class="pagination" id="pagination">
               
            </ul>
        </nav>
    </main>
    <script src="__PUBLIC__/static/js/bundle.js"></script>
</body>
</html>